$primary-color: #0d3880;
$secandary-color: #009458;

#header{
    padding: 0 10vw;
    display: flex;
    justify-content: flex-start;
    background-color: $primary-color;
    a{
        display: block;
        text-indent: -9999px;
        height: 80px;
        width: 200px;
        background: url('./components/logo.svg') center center no-repeat;
    }
}

#home{
    .cards-wrapper{
        padding: 5vw 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 10px solid $secandary-color;
        .card{
            width: calc(80vw / 3);
            border-radius: 10px;
            box-shadow: 0px 0px 12px 0px #e6e1e6;
            padding: 10px;
            overflow: hidden;
            text-align: center;
            margin: 0 10px;
            transition: .3s ease all;
            header{
                border-bottom: 1px solid rgba(0,0,0,.05);
                text-shadow: 1px 1px 1px #fff;
                text-transform: uppercase;
                h5{
                    color: #c82333;
                    margin: 0px;
                }
            }
            .pricing{
                font-size: 72px;
                color: $secandary-color;
                font-weight: 100;
                letter-spacing: -5px;
                padding: 25px 0;
                border-bottom: 1px solid rgba(0,0,0,.05);   
                .unit-price{
                    font-size: 28px;
                    font-weight: 400;
                    vertical-align: top;
                    letter-spacing: 0
                }
                .period{
                    font-size: 16px;
                    font-weight: 400;
                    vertical-align: bottom;
                    color: #999;
                    letter-spacing: 0;
                }
            }
            article{
                border-bottom: 1px solid rgba(0,0,0,.05);
            }
            > span{
                background-color: $primary-color;
                display: block;
                color: white;
                padding: 15px 0;
                border-radius: 5px;
                margin-top: 15px;
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    background-color: $secandary-color;
                }
            }
            &:hover{
                transform: translateY(-20px);
                box-shadow: 0px 9px 13px 0px rgba(161,161,161,1);
            }
        }
    }
    .client-info{
        padding: 5vw 10vw;
        border-bottom: 10px solid $secandary-color;
        h3{
            color: $primary-color;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
        }
        h4{
            text-align: center;
        }
    }
    .cart{
        padding: 0 10vw 5vw 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .cart-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(0,0,0,.05);
            border-radius: 5px;
            width: 100%;
            max-width: 80vw;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 12px 0px #e6e1e6;
            span{
                label{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aside{
                        display: block;
                        padding: 5px 10px;
                        background-color: $secandary-color;
                        color: white;
                        cursor: pointer;
                        margin: 0 5px;
                        border-radius: 5px;
                    }
                    input{
                        padding: 5px 0;
                    }
                }
            }
            i{
                cursor: pointer;
            }
        }
    }
    .client-name{
        display: flex;
        padding: 20px 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        label{
            background: $primary-color;
            padding: 20px;
            border-radius: 50px;
            color: white;
            text-transform: capitalize;
            width: 100%;
            max-width: 80vw;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                padding: 10px 20px;
                border: 0px;
                box-shadow: 0px;
                background-color: $primary-color;
                min-width: 250px;
                font-size: 16px;
                color: white;
                text-transform: capitalize;
                outline: none;
                border-bottom: 2px solid lighten($primary-color, 30%);
                margin-left: 20px;
                transition: .3s all ease;
                &:hover, &:focus{
                    border-color: white;
                }
            }
        }
    }
    .GrandTotal{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10vw;
        button{
            text-transform: uppercase;
            background-color: $primary-color;
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s ease all;
            &:hover{
                background-color: $secandary-color;
                outline: none;
            }
        }
        article{
            text-align: center;
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}